table {margin: auto; }
#error{color: red}
header{
    width: 100%;
    float: left;
    font-family: Georgia;
    text-align: center;

}
#game{
    width: 60%;
    float: right;

}
nav{
    width: 20%;
    float: left;
}
main{
    width: 60%;
    float: left;
    font-size: large;
    text-align: center;
    min-height: 400px;
}
footer{
    width: 100%;
    float: left;
    text-align: center;
    font-size: small;
    font-weight: bold;
}
main img{
    width: 250px;
    display: block;
    margin: 0 auto;
}
main p{
    margin-top: 30px;
    text-indent: 25px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
li a{
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #555;
    color: white;

}
ul{
    border: 1px solid #555;

}
li{
    text-align: center;
    border-bottom: 1px solid #555;

}
li:last-child{
    border-bottom: none;
}
